<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="MsSQLConnStr" value="Data Source=lotos10\sqlexpress2019;Initial Catalog=MiniAppDb;Integrated Security=False;User ID=MiniAppUser;Password=123456" />
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>